<div class="row">
    <div class="col-sm-12">
        <!-- FILTERS -->
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="filters">
                <div class="filter">
                    {{ 'filter.label' | translate }} #1
                </div>
                <div class="filter">
                    {{ 'filter.label' | translate }} #2
                </div>
                <div class="filter">
                    {{ 'filter.label' | translate }} #3
                </div>
            </div>

            <div class="nav-dropdown" ng-class="{ 'active': showLanguage }">
                <a href="#nav-language"
                   class="nav-dropdown-open"
                   ng-class="{ 'active': showLanguage }"
                   ng-click="showLanguage = !showLanguage">{{ ctrl.langkey }}</a>
                <div class="nav-content" id="nav-language" ng-class="{ 'display_none': !showLanguage, 'active': showLanguage }">
                    <ul>
                        <li ng-repeat="lang in ctrl.languages"
                            ng-click="ctrl.changeLang(lang.value)">
                            <a href="#">{{ lang.description }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-9 col-md-10 col-md-offset-2 col-sm-offset-3">
            <div>
                <!--HEADER-->
                <div class="col-xs-12 header">
                    <div class="col-xs-12 types pull-right" ng-class="{'display_none': !showTypes}">
                        <span><a ui-sref="content.pie">{{ 'header.pie' | translate }} #1</a></span>
                        <span><a ui-sref="content.chart">{{ 'header.3d' | translate }} #2</a></span>
                        <span>{{ 'header.type' | translate }} #3</span>
                        <span>{{ 'header.type' | translate }} #4</span>
                    </div>
                    <div class="header_type" ng-click="showTypes = !showTypes">{{ 'header.labelTypeDiagrams' | translate }}</div>
                </div>
            </div>
            <div class="col-sm-12">
                <!--CONTENT-->
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>