<div class="row">
    <div class="col-sm-12">
            <!-- FILTERS -->
        <div class="col-sm-3 col-md-2 sidebar header">
                <div><span class="header_type" ng-click="showTypes = !showTypes">{{ 'header.labelTypeDiagrams' | translate }}</span></div>
                <div class="filters" ng-class="{'display_none': !showTypes}">
                    <div class="filter">
                        <span><a class="disabled" ui-sref="content.pie">{{ 'header.pie' | translate }}</a></span>
                        <!--{{ 'filter.label' | translate }} #1-->
                    </div>
                    <div class="filter">
                        <span><a class="disabled" ui-sref="content.chart">{{ 'header.3d' | translate }} #2</a></span>
                        <!--{{ 'filter.label' | translate }} #2-->
                    </div>
                    <div class="filter">
                        <span><a ui-sref="content.table">{{ 'header.table' | translate }}</a></span>
                        <!--{{ 'filter.label' | translate }} #3-->
                    </div>
                    <div class="filter">
                        <span><a ui-sref="content.bubble">{{ 'header.bubble' | translate }}</a></span>
                    </div>
                    <div class="filter">
                        <span><a ui-sref="content.barchart">{{ 'header.barchart' | translate }}</a></span>
                    </div>
                    <div class="filter">
                        <span><a class="disabled">{{ 'header.type' | translate }} #4</a></span>
                    </div>
            </div>

                <div class="nav-dropdown" ng-class="{ 'active': showLanguage }">
                    <a href=""
                       class="nav-dropdown-open"
                       ng-class="{ 'active': showLanguage }"
                       ng-click="showLanguage = !showLanguage">{{ ctrl.langkey }}</a>
                    <div class="nav-content" id="nav-language" ng-class="{ 'display_none': !showLanguage, 'active': showLanguage }">
                        <ul>
                            <li ng-repeat="lang in ctrl.languages"
                                ng-click="ctrl.changeLang(lang.value)">
                                <a href="">{{ lang.description }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        <div class="col-sm-9 col-md-10 col-md-offset-2 col-sm-offset-3">
            <!--<div>-->
                <!--HEADER-->
                <!--<div class="col-xs-12">-->
                    <!--<div class="col-xs-12 types pull-right" ng-class="{'display_none': !showTypes}">-->
                        <!--<span><a class="disabled" ui-sref="content.pie">{{ 'header.pie' | translate }} #1</a></span>-->
                        <!--<span><a class="disabled" ui-sref="content.chart">{{ 'header.3d' | translate }} #2</a></span>-->
                        <!--<span><a ui-sref="content.table">table</a></span>-->
                        <!--<span><a ui-sref="content.bubble">bubble</a></span>-->
                        <!--<span><a ui-sref="content.pyramid">{{ 'header.barchart' | translate }}</a></span>-->
                        <!--<span><a class="disabled">{{ 'header.type' | translate }} #4</a></span>-->
                    <!--</div>-->
                    <!--<div><span class="header_type"  ng-click="showTypes = !showTypes">{{ 'header.labelTypeDiagrams' | translate }}</span></div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-sm-12">
                <!--CONTENT-->
                <div ui-view>
                </div>
            </div>
        </div>
    </div>
</div>
