<div class="hri">
    <div class="col-sm-12" class="hri-container">
        <div class="controls">
            <div class="form-inline">
                <div class="form-group">
                    <label class="mode">Режим</label>
                    <div class="btn-group">
                        <label class="btn btn-success" [(ngModel)]="mode" btnRadio="Left"
                               [ngClass]="{'btn-success': mode == 'district', 'btn-default': mode == 'map'}"
                               (click)="changeMode('district')" uncheckable>Округ</label>
                        <label class="btn btn-success" [(ngModel)]="mode" btnRadio="Right"
                               [ngClass]="{'btn-success': mode == 'map', 'btn-default': mode == 'district'}"
                               (click)="changeMode('map')" uncheckable>Карта</label>
                    </div>
                </div>
                <div class="form-group" *ngIf="selectedDistrict && mode == 'district'">
                    <button type="button" class="btn btn-success">Округ</button>
                    <div class="btn-group dropdown" dropdown>
                        <button type="button" class="btn btn-default">{{ selectedDistrict.name }}</button>
                        <button type="button" dropdownToggle class="btn btn-success dropdown-toggle dropdown-toggle-split">
                            <span class="caret"></span>
                            <span class="sr-only">Split Button!</span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem" *ngFor="let district of districts" (click)="toggleDropdownDistrict(district)">
                                <a class="dropdown-item">{{ district.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group" *ngIf="selectedIndicator">
                    <button type="button" class="btn btn-success">Индикатор</button>
                    <div class="btn-group dropdown" dropdown>
                        <button type="button" class="btn btn-default">{{ selectedIndicator.name }}</button>
                        <button type="button" dropdownToggle class="btn btn-success dropdown-toggle dropdown-toggle-split">
                            <span class="caret"></span>
                            <span class="sr-only">Split Button!</span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem" *ngFor="let indicator of indicators" (click)="toggleDropdownIndicator(indicator)">
                                <a class="dropdown-item" [ngClass]="{'child':isChild(indicator)}">{{ indicator.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <nouislider [connect]="true" [min]="1990"
                                [max]="2015" [(ngModel)]="year"
                                [step]="5" [tooltips]="[true]"
                                (ngModelChange)="changeYear($event)"></nouislider>
                </div>
            </div>
        </div>
        <div style="padding-top: 20px;" class="view">
            <div *ngIf="mode=='district' && scores && indicators" class="wrapper_district">
                <hri-donut [district]="selectedDistrict" [indicator]="selectedIndicator" [scores]="scores" [year]="year" [indicators]="indicators"></hri-donut>
            </div>
            <div *ngIf="mode=='map' && scores && districts" class="wrapper_map">
                <hri-map [indicator]="selectedIndicator" [scores]="scores" [year]="year" [districts]="districts"></hri-map>
            </div>
        </div>
    </div>
</div>