<div>
    <div #map class="col-sm-12" *ngIf="districts && data">
        <agm-map [latitude]="lat" [longitude]="lng" [zoomControl]="false" [mapkey]="'firstmap'">
            <map-content [districts]="districts" [data]="data"></map-content>
        </agm-map>
        <div class="panel color-scale">
            <div *ngFor="let color of colors" style="display: inline-block" class="color-scale-item">
                <div class="square" [ngStyle]="{'background-color': color.fillColor}">
                    <span>{{color.min}} - {{color.max}}</span>
                </div>
            </div>
        </div>
    </div>
</div>