.header {
  font-family: Panama-Light;
  text-transform: uppercase;
  padding: 1em 0;

  .header_type {
    cursor: pointer;
    padding: 1em 2em;

    &hover, &focus {
      text-decoration: underline;
    }
  }
}