<div class="filters">
    <div class="filter">
        {{ 'filter.label' | translate }} #1
    </div>
    <div class="filter">
        {{ 'filter.label' | translate }} #2
    </div>
    <div class="filter">
        {{ 'filter.label' | translate }} #3
    </div>
</div>

<div class="nav-dropdown" ng-class="{ 'active': showLanguage }">
    <a href="#nav-language"
       class="nav-dropdown-open"
       ng-class="{ 'active': showLanguage }"
       ng-click="showLanguage = !showLanguage">{{ ctrl.langkey }}</a>
    <div class="nav-content" id="nav-language" ng-class="{ 'display_none': !showLanguage, 'active': showLanguage }">
        <ul>
            <li ng-repeat="lang in ctrl.languages"
                ng-click="ctrl.changeLang(lang.value)">
                <a href="#">{{ lang.description }}</a>
            </li>
        </ul>
    </div>
</div>