<div class="row">
    <div>
        <div class="pull-right">
            <button type="button" class="btn btn-xs btn-default" (click)="">
                <span class="glyphicon glyphicon-upload"></span>
                Загрузить
            </button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Date upload</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-trash"></span>
                        Remove
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>