.sidebar {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  display: block;
  padding-top: 20px;
  padding-left: 0;
  overflow-x: auto;
  overflow-y: auto;
  background-color: #f7f7f7;
  z-index: 100;
}