<div bsModal [config]="{ backdrop: 'static' }" #fileLgModal="bs-modal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="FileLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{ 'DATAFILE.MODAL.HEADER' | translate }}</h4>
                <button type="button" class="close pull-right" (click)="fileLgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="upload-form">
                        <div class="col-sm-6">
                            <div ng2FileDrop
                                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                                 (fileOver)="fileOverBase($event)"
                                 [uploader]="uploader"
                                 class="well drop-zone"
                                 (onFileDrop)="fileDropped($event)"> {{ 'DATAFILE.MODAL.DROP_FILE' | translate }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="file-select">
                                <span class="or">{{ 'DATAFILE.MODAL.OR' | translate }}</span>
                                <input class="inputfile" id="file"
                                       ng2FileSelect type="file"
                                       [uploader]="uploader"
                                       (change)="fileDropped($event.srcElement.files)"/>
                                <label for="file">
                                    <span><i class="fa fa-upload fa-2x"></i>{{ 'DATAFILE.MODAL.CHOOSE_FILE' | translate }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!--<progressbar [animate]="false" [value]="50" type="success"><b>50%</b></progressbar>-->
                    </div>
                    <div class="headers" *ngIf="uploadFile">
                        <span>Отметьте нужные поля и, если необходимо, отредактируйте названия полей</span>
                        <div class="headers-form">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label>{{ 'DATAFILE.MODAL.NAME_FIELD' | translate }}</label>
                                </div>
                                <div class="col-sm-4">
                                    <label>{{ 'DATAFILE.MODAL.USED' | translate }}</label>
                                </div>
                            </div>
                            <div class="form-group" *ngFor="let header of headers; let i = index">
                                <div class="col-sm-8">
                                    <input type="text" [(ngModel)]="headers[i].value" class="form-control" style="width: 100%" />
                                </div>
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" [(ngModel)]="headers[i].check">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-rigth">
                    <button type="button" class="btn btn-default" (click)="upload()">{{ 'DATAFILE.MODAL.SAVE' | translate }}</button>
                    <button type="button" class="btn btn-danger" (click)="hide()">{{ 'DATAFILE.MODAL.CANCEL' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>