<div bsModal #fileLgModal="bs-modal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="FileLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left"></h4>
                <button type="button" class="close pull-right" (click)="fileLgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div ng2FileDrop
                             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                             (fileOver)="fileOverBase($event)"
                             [uploader]="uploader"
                             class="well drop-zone"
                             (onFileDrop)="fileDropped($event)"> Перетащите файл в это поле
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="file-select">
                            <span class="or">или</span>
                            <input class="inputfile" id="file"
                                   ng2FileSelect type="file"
                                   [uploader]="uploader" (change)="fileDropped($event.srcElement.files)"/>
                            <label for="file">
                                <span><i class="fa fa-upload fa-2x"></i>Выберите файл</span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <!--<progressbar [animate]="false" [value]="50" type="success"><b>50%</b></progressbar>-->
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-rigth">
                    <button type="button" class="btn btn-default">OK</button>
                    <button type="button" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>