<div class="modal-header">
    <h3 class="modal-title">Upload file</h3>
</div>
<div class="modal-body">
    <div ngf-select="ctrl.upload($invalidFiles, $files)"
         ngf-drop ng-model="ctrl.file"
         class="drop-box"
         ngf-change="ctrl.upload(ctrl.file)">
        Select file
    </div>
    <div class="preview"></div>
</div>
<div class="modal-footer">
    <button class="btn" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>