<div class="footer">
    <div class="row">
        <div class="bottom">
            <div class="col-sm-12">
                <slick-slider [options]="{slidesToShow: 3}">
                    <div class="item">
                        <div class="pie"></div>
                    </div>
                    <div class="item">
                        <div class="bubble"></div>
                    </div>
                    <div class="item">
                        <div class="barchart"></div>
                    </div>
                </slick-slider>
            </div>
        </div>
    </div>
</div>