<div class="footer col-sm-9 col-md-10">
    <div class="row">
        <div class="bottom">
            <slick-slider [options]="{slidesToShow: 3, variableWidth: true, centerMode: true}">
                <div class="item" *ngFor="let type of availableTypes">
                    <div (click)="to(type.name)">
                        <div class="zoom">
                            <div [ngClass]="type.name"></div>
                        </div>
                        <div class="caption">
                            <h2 [translate]="type.caption.title"></h2>
                            <p [translate]="type.caption.description"></p>
                        </div>
                    </div>
                </div>
            </slick-slider>
        </div>
    </div>
</div>