.footer {

  .bottom {
    bottom: 0;
    position: fixed;
    height: 200px;
    text-align: center;
    padding: 0 1.25em;
    transition: opacity 0.5s, left 0.5s, transform 0.5s;
    width: 80%;

    .item {

      .pie {
        background-image: url(../../images/types/pie.png);
      }

      .barchart {
        background-image: url(../../images/types/barchart.jpg);
      }

      .bubble {
        background-image: url(../../images/types/bubble.png);
      }
    }
  }

}