.hri {
  height: calc(100% - 55px) !important;
  padding: 15px;
  width: 100%;
  background-color: #fff;
  color: rgb(69, 69, 69);

  .hri-container {
    align-content: stretch;
    border: 1px solid #ccc;
    border-radius: 4px;

    .controls {
      border-bottom: 1px solid #ccc;
      background: #fafafa;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      min-height: 70px;
      padding: 15px;

      .form-group {
        padding-right: 25px !important;

        label.mode {
          padding-right: 10px;
        }

        .btn-group, label, button {
          font-size: 16px;
        }

        .btn-group.dropdown {
          margin-left: -5px;
        }
      }
    }

    .view {
      display: flex;
      flex-direction: column;
      flex: 1 1;
      padding-bottom: 20px;

      .sebm-google-map-container {
        height: 800px;
      }
      nouislider {
        width: 300px;
      }
      .donut-inner {
        margin-top: -500px;
        margin-bottom: 100px;
        margin-left: 350px;
      }
      .donut-inner h5 {
        margin-bottom: 5px;
        margin-top: 0;
      }
      .square {
        width: 30px;
        height: 30px;
      }

      .chart-container {
        text-align: center;
        background: #fff;
        box-shadow: 0 0 6px rgba(0, 0, 0, .4);
        border-radius: 4px;
        flex-direction: column;

        .aster-chart-title {
          font-size: 18px;
          font-weight: 400;
          text-align: center;
          margin: 8px auto;
        }
      }

      .chart-container-right {
        flex: 6;
        flex-direction: column;
        display: flex;

        .chart-container-top {
          flex: 7;
          margin: 8px;
        }

        .chart-container-bottom {
          flex: none;
          margin: 8px;

          .title-container {
            background: rgb(76, 159, 56);
            align-items: center;
            border-radius: 4px;
            font-size: 20px;
            color: #fff;
            padding: 10px;
          }

          .info-body {
            text-align: left;
            font-size: 14px;
            padding: 10px;
          }

          .bold {
            font-weight: 700;
          }
        }
      }
    }
  }
}