.sebm-google-map-container {
  height: 800px;
}
nouislider {
  width: 300px;
}
.donut-inner {
  margin-top: -500px;
  margin-bottom: 100px;
  margin-left: 350px;
}
.donut-inner h5 {
  margin-bottom: 5px;
  margin-top: 0;
}
.square {
  width: 30px;
  height: 30px;

  span {

  }
}