.hri {
  height: calc(100% - 55px) !important;
  padding: 15px;
  width: 100%;
  background-color: #fff;
  color: rgb(69, 69, 69);

  font-family: Verdana, Arial, sans-serif;

  .hri-container {
    align-content: stretch;
    border: 1px solid #ccc;
    border-radius: 4px;

    .controls {
      border-bottom: 1px solid #ccc;
      background: #fafafa;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      min-height: 70px;
      padding: 25px;

      .form-group {
        padding-right: 25px !important;

        label.mode {
          padding-right: 10px;
        }

        .btn-group, label, button {
          font-size: 15px;
        }

        .btn-group.dropdown {
          margin-left: -5px;
        }

        .dropdown-menu {
          .child {
            margin-left: 20px;
          }

          li {
            font-size: 16px;
          }
        }

        nouislider {
          width: 300px;

          .noUi-target {
            background: #fff !important;
          }

          .noUi-handle {
            border: 1px solid #4c9f38 !important;
            background: #4c9f38 !important;
            top: -8px !important;
          }

          .noUi-tooltip {
            background: #4c9f38 !important;
            color: #fff !important;
            border: 1px solid #4c9f38 !important;

          }

          .noUi-horizontal {
            height: 14px !important;
          }
        }
      }
    }

    .view {
      display: flex;
      flex-direction: column;
      flex: 1 1;
      padding-bottom: 20px;

      .sebm-google-map-container {
        height: 700px;
      }

      .donut-inner {
        margin-top: -500px;
        margin-bottom: 100px;
        margin-left: 350px;
      }
      .donut-inner h5 {
        margin-bottom: 5px;
        margin-top: 0;
      }


      .color-scale {

        .color-scale-item {
          display: inline-block;
          width: 10%;
          border-right: 1px solid #fff;
          border-left: 1px solid #fff;

          .square {
            height: 30px;
            text-align: center;

            span {
              font-size: 16px;
              color: #fff;
              padding: 10px;
              font-weight: 600;
            }
          }
        }
      }

      .chart-container {
        text-align: center;
        background: #fff;
        box-shadow: 0 0 6px rgba(0, 0, 0, .4);
        border-radius: 4px;
        flex-direction: column;

        #asterChart {
          padding-bottom: 15px;
        }

        .aster-chart-title {
          font-size: 18px;
          font-weight: 400;
          text-align: center;
          margin: 8px auto;
          padding-top: 15px;
          padding-bottom: 10px;
        }

        .line-chart-title {
          font-size: 18px;
          font-weight: 400;
          text-align: center;
          padding-bottom: 10px;
        }

        div.tooltip {
          position: absolute;
          text-align: center;
          padding: 5px;
          font: 15px sans-serif;
          background: rgba(68, 157, 68, 1);
          border: 0px;
          top: 80px;
          color: #fff;
          width: 170px;
          left: 20px;
          border-radius: 5px;
        }
      }

      .chart-container-right {
        flex: 6;
        flex-direction: column;
        display: flex;
        margin-right: -8px;

        .chart-container-top {
          flex: 7;
          margin: 8px;
          padding: 15px;
        }

        .chart-container-bottom {
          flex: none;
          margin: 8px;

          .title-container {
            background: rgb(76, 159, 56);
            align-items: center;
            border-radius: 4px;
            font-size: 20px;
            color: #fff;
            padding: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }

          .info-body {
            text-align: left;
            font-size: 14px;
            padding: 10px;
          }

          .bold {
            font-weight: 700;
          }
        }
      }
    }
  }
}