.pie-comp {

  padding-top: 40px;
  font-family: Drugs, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;

  .row {
    margin-left: 0;
    margin-right: 0;

    .form-control {
      border-radius: 0 !important;
    }
  }

  .legend {
    padding-top: 100px;

    p {
      font-size: 16px;
    }
  }
}