<div class="col-sm-12">
    <div class="col-sm-6">
        <div class="panel">
            <canvas #donut baseChart [data]="donutChartData"
                    [labels]="donutChartLabels"
                    [chartType]="donutChartType"
                    [colors]="donutChartColors"
                    (chartHover)="chartDonutHovered($event)"
                    (chartClick)="chartDonutClicked($event)"
                    [legend]="false"></canvas>
            <div class="donut-inner">
                <h2>Индекс <br/> здоровья</h2>
                <h3>75</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <canvas #line baseChart [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartLineHover($even)"
                    (chartClick)="chartLineClick($event)"></canvas>
        </div>
    </div>
</div>