<div class="row">
    <div>
        <div class="pull-right">
            <button type="button" class="btn btn-xs btn-default" (click)="openFileModal()">
                <span class="glyphicon glyphicon-upload"></span>
                {{ 'DATAFILE.UPLOAD' | translate }}
            </button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th width="50%">{{ 'DATAFILE.TABLE.NAMEFILE' | translate }}</th>
                <th>{{ 'DATAFILE.TABLE.SIZE' | translate }}</th>
                <th>{{ 'DATAFILE.TABLE.DATE_UPLOAD' | translate }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dataFile of dataFiles">
                <td>{{ dataFile.name }}</td>
                <td>{{ dataFile.size/1024 }} M</td>
                <td>{{ dataFile.create | date:'medium'}}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-xs" (click)="deleteDataFile(dataFile.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                        {{ 'DATAFILE.TABLE.REMOVE' | translate }}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<file-modal #fileModal (close)="addDataFile($event)"></file-modal>