<div class="row col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10">
    <div>
        <div class="pull-right">
            <button type="button" class="btn btn-xs btn-default" (click)="openFileModal()">
                <span class="glyphicon glyphicon-upload"></span>
                Загрузить
            </button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Date upload</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dataFile of dataFiles">
                <td>{{dataFile.name}}</td>
                <td>{{dataFile.size/1024}} M</td>
                <td>{{ dataFile.create }}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-xs" (click)="deleteDataFile(dataFile.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                        Remove
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<file-modal #fileModal></file-modal>