<div class="row">
    <div>
        <div class="pull-right">
            <div class="col-sm-9">
                <div class="form-group">
                    <label class="col-sm-7">Выберите файл для визуализации:</label>
                    <div class="col-sm-5">
                        <select [(ngModel)]="selectedFile" (ngModelChange)="onChangeUsed($event)" class="form-control" >
                            <option [ngValue]="dataFile.id" *ngFor="let dataFile of dataFiles">{{ dataFile.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-default" (click)="openFileModal()">
                    <span class="glyphicon glyphicon-upload"></span>
                    {{ 'DATAFILE.UPLOAD' | translate }}
                </button>
            </div>
        </div>
        <div class="wrap-table">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th style="width:30%" [translate]="'DATAFILE.TABLE.NAMEFILE'"></th>
                    <th [translate]="'DATAFILE.TABLE.SIZE'"></th>
                    <th [translate]="'DATAFILE.TABLE.DATE_UPLOAD'"></th>
                    <!--<th [translate]="'DATAFILE.TABLE.USED'"></th>-->
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let dataFile of dataFiles; let i = index">
                    <td><div [ngClass]="getCls(dataFile.name)"></div></td>
                    <td>{{ dataFile.name }}</td>
                    <td>{{ dataFile.size/1024 | number : '1.2-2' }} {{ 'DATAFILE.TABLE.KB' | translate }}</td>
                    <td>{{ dataFile.create | date:'medium'}}</td>
                    <!--<td>-->
                        <!--<input type="radio" (change)="onChangeUsed(dataFile.id)" />-->
                    <!--</td>-->
                    <td tooltip="{{ 'DATAFILE.TABLE.REMOVE' | translate }}" placement="left">
                        <i class="fa fa-minus action-delete" (click)="deleteDataFile(dataFile.id)"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<file-modal #fileModal (close)="addDataFile($event)"></file-modal>